:root {
    --test-color: rgb(250, 150, 27);
    --primary-color: 250, 150, 27;
    --secondary-color: #f9f9f9;
    --text-color: #333;
    --bg-color: #f9d07056;

    --tost-bg-color: var(--primary-color);
}

body {
    ::selection {
        background: rgba(245, 228, 196, 0.932);
        color: rgb(46, 46, 46);
    }
    overflow-y: scroll;

    /* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
    scrollbar-width: thin;
    scrollbar-color: #f3af00 #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
    background-color: #e7f4f7;
}

*::-webkit-scrollbar-track:active {
    background-color: #e7f4f7;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #787777;
    border: 3px solid #dfe9eb;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #5b5b5a;
    border: 2px solid #e7f4f7;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #ff7903;
    border: 2px solid #e7f4f7;
}

.btn {
    cursor: pointer;
    transition: background-color 300ms, opacity 0.2s, transform 0.2s,
        box-shadow 300ms;

    font-size: 14px;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    overflow: hidden;
    padding: 1rem;
    border-radius: 0;

    &:hover {
        color: rgba(var(--primary-color), 0.8);
    }

    &-inner {
        transition: background-color 300ms, opacity 0.2s, transform 0.2s;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        border: 1px solid var(--bg-color);
        border-radius: 10px;
        &:hover {
            color: rgba(var(--primary-color), 0.8);
            transform: scale(1.05);
        }
    }

    &:focus {
        outline: none;
    }
    &:disabled {
        color: rgb(var(--primary-color));

        transform: scale(1);
        opacity: 0.1;
    }

    @media (min-width: 768px) {
        transition: opacity 0.3s, transform 0.3s;
    }

    @media (hover: hover) {
        &:hover,
        &:focus {
            background-color: transparent;
            .btn-inner {
                transform: scale(1.1);
                background: var(--bg-color);
            }
        }
    }
    @media (hover: none) {
        &:active {
            transform: scale(1);
            background-color: rgba(var(--primary-color), 0.1);
        }
    }
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.checkbox {
    flex: 0 0 25px;
    margin-right: 0.5rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 3px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:checked::before {
        content: "✔";
        font-size: 16px;
        color: var(--primary-color);
    }
}
